@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Lexend:wght@100..900&family=Metal+Mania&display=swap');

:root {
	--font-header: "Henny Penny", system-ui;
	--font-body: "Lexend", sans-serif;
	--color-dark: #3F4739;
	--color-light: #E1F4CB;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: var(--color-dark);
	color: var(--color-light);
	font-family: var(--font-body);
}

.layout {
	max-width: 1100px;
	padding: 1rem;
	width: calc(100% - 2rem);
	margin: 0 auto;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-header);
}